@using Sandbox.UI;
@using Sandbox;
@using TaigaUI.Core.Components;
@using System.Collections.Generic;
@using System;
@using Mbk.Admin.UI.Alert;
@using Mbk.Admin.Logs;

@inherits Panel
@implements IDialog
@attribute [StyleSheet]
@namespace Mbk.Admin.UI.Dialog.Childs

<root>
    <span class="title">@TargetCommand.Name</span>
    <span>Target: @Player.Name</span>
    <panel class="dialogbody">
        <div>
            <span>Health value</span>
            <TextEntry @ref="Value" class="@(Value.Text == "" ? "required" : "valid")" numeric="true"></TextEntry>
        </div>
        <div>
            <span>Your are about to set @Player.Name health to .</span>
        </div>
    </panel>
    <div class="dialogfooter">
        <button class="submit @(CanBeRun() == false ? "disabled" : "")" onclick=@(()=> Submit())>Submit</button>
    </div>
    <button class="close">
        <i @onclick=@(()=> Delete()) tooltip="Close">close</i>
    </button>
</root>

@code {
    public IClient Player { get; set; }
    public Command TargetCommand { get; set; }
    public LogObject TargetLog { get; set; }
    TuiDropDown Dropdown { get; set; }
    TextEntry Value { get; set; }

    bool CanBeRun()
    {
        if (Value.Text == "")
            return false;

        return true;
    }

    void Submit()
    {
        if (Value.Text == "")
        {
            Alert.Add(new()
            {
                Title = "Required",
                Message = "Value field is required",
                Type = eAlertType.Error
            });

            return;
        }
        
        Delete();

        Command.Run(TargetCommand.Name, Player.SteamId.ToString(), Game.LocalClient.SteamId.ToString(), Value.Text);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(DateTime.Now.ToString() + Value.Text);
    }
}
